---
import GitHubStats from "./GitHubStats.astro";
---

<section
  id="collab"
  class="bg-teal-950"
>
  <div class="flex flex-col items-center justify-center gap-16 px-6 py-36">
    <h2 class="text-subtitle text-center text-white font-bold">
      Apoya este proyecto de <span class="block text-highlight-blue">pruebas técnicas</span>
    </h2>

    <GitHubStats />
  </div>
</section>