---
import { GitHubIcon } from "@components/icons";
---

<section class="lg:w-[646px]">
  <h1 class="text-title text-white text-center lg:text-left font-bold mb-4 title">
    Pruebas Técnicas
  </h1>

  <p class="text-description text-white text-center lg:text-left text-pretty mb-8">
    Explora una
    <strong class="text-highlight-yellow font-bold">colección de pruebas técnicas</strong>
    utilizadas en procesos de selección, que reflejan desafíos comunes en entrevistas de desarrollo web.
  </p>

  <a
    class="bg-hero-repo-link text-black/90 flex items-center gap-2 rounded-lg mx-auto lg:mx-0 px-4 py-3 font-semibold w-max"
    href="https://github.com/anibalcoder/pruebas-tecnicas"
    target="_blank"
  >
    <GitHubIcon class="size-5" />
    Ir al repositorio
  </a>
</section>